@import './helpers/variables';
@import './helpers/placeholders';
@import './helpers/commonClasses';

// ! Global Resets
html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

// ! Main Grid & Page Adjustments
body {
  background: linear-gradient(#0000002f, #0000002f),
    url($backgroundImgUrl) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $outlineText;
  min-height: 100vh;
}

.getRolled {
  background: linear-gradient(#0000002f, #0000002f),
    url(/images/getRolled.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $outlineText;
}

// ! Header
header {
  @extend %flexCompleteCenter;
  background-color: $outerTextColor;
  h1 {
    font-size: 6rem;
    color: $outlineText;
  }
  h4 {
    font-size: 1.5rem;
    padding-bottom: 1vh;
  }
}

// ! Sidebar
aside {
  background-color: $outerTextColor;
  position: sticky;
  top: 0;
  float: left;
  height: 100%;
  width: 25vw;
  h2 {
    text-align: center;
    padding: 0.5vw 0vw;
    margin: 0px 1vw;
    font-size: 1.7rem;
    text-align: center;
    border-bottom: double 0.3vw $outlineText;
  }
  ul {
    list-style: none;
    li {
      padding: 2vw 2vw;
      margin: 1vw 1vw;
      font-size: 1.1rem;
      color: $outlineText;
      background-color: rgba(211, 80, 32, 0.562);
      border-radius: 10%;
      text-align: center;
      transition: transform 400ms;
      &:hover {
        background-color: $cardBackgroundHover;
        cursor: pointer;
        transform: scale(1.04);
      }
    }
  }
}

// ! Main Boxes
main {
  min-height: 100vh;
  width: 70vw;
  margin: 0.5vh 2vw 0 auto;
}

.boxes {
  justify-content: center;
  align-content: center;
  display: grid;
  padding: 2vw;
  grid-gap: 1vw;
  grid-auto-rows: minmax(8vw, 150px);
  grid-template-columns: repeat(auto-fit, 300px);

  transition: transform 1000ms;
  .card {
    @extend %flexCompleteCenter;
    background-color: $cardBackground;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #333;
    transition: transform 500ms;
    a {
      @extend %flexCompleteCenter;
      font-size: 1.5rem;
      text-transform: capitalize;
    }
    &:hover {
      background-color: $cardBackgroundHover;
      cursor: pointer;
      // transform: scale(1.07);
    }
    &:active {
      transform: scale(1.04);
    }
  }
}

// ! Modal
.modalMainContainer {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  .modalContentContainer {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalOpen;
    animation-duration: 1s;
    .modalHeader {
      padding: 1vw;
      background-color: $modalHeaderColor;
      color: #f4f4f4;
      font-size: 2.3rem;
      text-align: center;
    }
    .modalBody {
      color: #2e3a56;
      padding: 4vw 4vw;
      font-size: 1.5rem;
      color: rgba(22, 22, 22, 0.9);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      input {
        display: none;
        height: 12vh;
        width: 100%;
        font-size: 3.5rem;
        background-color: #c8ccd1;
        &::placeholder {
          color: #a2a9b1;
        }
      }
    }
    .modalBodyImage {
      width: 90%;
      padding: 2vw;
      display: none;
    }
    .modalFooter {
      background-color: $modalHeaderColor;
      color: #f4f4f4;
      font-size: 1.2rem;
      padding: 1vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2vw;
    }
    .modalButton {
      display: none;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.856);
      border-radius: 5%;
      padding: 1vw 1.5vw;
      color: #f4f4f4;
      font-size: 1rem;
      outline: none;
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.507);
      transition: 300ms;
      &:hover {
        transform: scale(1.04);
        background-color: rgb(0, 0, 0);
      }
    }
    .closeBtn {
      float: right;
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.3);
      &:hover,
      &:focus {
        color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
//* Keyframe For Modal
@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// - Media Queries
@media only screen and (max-device-width: 938px) {
  header {
    h1 {
      font-size: 4rem;
    }
    h4 {
      font-size: 1.2rem;
      padding-bottom: 3vh;
    }
  }
}

@media only screen and (max-device-width: 874px) {
  aside {
    width: 16rem;
    h2 {
      text-align: center;
      padding: 0.5rem 0vw;
      margin: 0px 3rem;
    }
  }
}

@media only screen and (max-device-width: 796px) {
  .modalMainContainer {
    width: 100vw;
    .modalContentContainer {
      margin: 2vw auto;
      width: 90vw;
      .modalHeader {
        padding: 1vw;
        font-size: 1.5rem;
      }
      .modalBody {
        padding: 5vw;
        font-size: 1.25rem;
        input {
          height: 3rem;
          font-size: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 684px) {
  .boxes {
    padding: 2vh 0vw;
    grid-gap: 3vw;
    grid-auto-rows: minmax(8vw, 150px);
    grid-template-columns: repeat(auto-fit, 1fr);
    .card {
      transition: transform 500ms;
    }
  }
}

@media only screen and (max-device-width: 618px) {
  header {
    h1 {
      font-size: 3rem;
    }
    h4 {
      font-size: 1.1rem;
      padding-bottom: 3vh;
    }
  }
}

@media only screen and (max-device-width: 592px) {
  // ! Sidebar
  aside {
    position: static;
    width: 100vw;
    ul {
      li {
        font-size: 1.1rem;
      }
    }
  }

  main {
    width: 100vw;
    margin: 0;
  }

  .boxes {
    width: 100vw;
    padding: 0vw;
    grid-gap: 1vw;
    grid-auto-rows: minmax(6vw, 150px);
    grid-template-columns: repeat(auto-fit, 230px);
    .card {
      a {
        font-size: 1.3rem;
      }
    }
  }
}

@media only screen and (max-device-width: 474px) {
  header {
    h1 {
      font-size: 2.3rem;
    }
    h4 {
      font-size: 1.1rem;
      padding-bottom: 1vh;
    }
  }
}
