header, .boxes .card, .boxes .card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide {
  display: none;
}

.betterHover a {
  -webkit-transform: translate(-0.001%, -0.001%);
          transform: translate(-0.001%, -0.001%);
  width: 100%;
  height: 10rem;
  text-align: center;
  line-height: 60px;
  background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 10px;
  z-index: 1;
}

.betterHover a:hover {
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.betterHover a:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.betterHover a:hover:before {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 1;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#0000002f), to(#0000002f)), url(../images/cityNight.jpg) no-repeat center center fixed;
  background: linear-gradient(#0000002f, #0000002f), url(../images/cityNight.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #e2dddde3;
}

.fullPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
  -ms-grid-columns: (1fr)[5];
      grid-template: repeat(7, 1fr)/repeat(5, 1fr);
      grid-template-areas: 'head head head head head' 'side main   main   main   main' 'side main   main   main   main' 'side main   main   main   main' 'side main   main   main   main' 'side main   main   main   main' 'side main   main   main   main';
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: head;
  background-color: #0000007c;
}

header h1 {
  font-size: 4rem;
  color: #e2dddde3;
}

header h4 {
  font-size: 1rem;
  padding-bottom: 1vh;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  grid-area: side;
  background-color: #0000007c;
  height: 100vh;
}

aside h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vw 0vw;
  font-size: 1.8rem;
}

aside ul {
  list-style: none;
}

aside ul li {
  padding: 0.5vw 1vw;
  color: #e2dddde3;
}

.modalMainContainer {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
}

.modalMainContainer .modalContentContainer {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 70%;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  -webkit-animation-name: modalOpen;
          animation-name: modalOpen;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.modalMainContainer .modalContentContainer .modalHeader {
  padding: 1vw;
  background-color: #5580AA;
  color: #f4f4f4;
  font-size: 2.6rem;
}

.modalMainContainer .modalContentContainer .modalBody {
  color: #2e3a56;
  padding: 4vw 4vw;
  font-size: 1.5rem;
  color: rgba(22, 22, 22, 0.9);
}

.modalMainContainer .modalContentContainer .modalBody input {
  display: none;
  height: 12vh;
  width: 100%;
  font-size: 3.5rem;
  background-color: #c8ccd1;
}

.modalMainContainer .modalContentContainer .modalBody input::-webkit-input-placeholder {
  color: #a2a9b1;
}

.modalMainContainer .modalContentContainer .modalBody input:-ms-input-placeholder {
  color: #a2a9b1;
}

.modalMainContainer .modalContentContainer .modalBody input::-ms-input-placeholder {
  color: #a2a9b1;
}

.modalMainContainer .modalContentContainer .modalBody input::placeholder {
  color: #a2a9b1;
}

.modalMainContainer .modalContentContainer .modalFooter {
  background-color: #5580AA;
  color: #f4f4f4;
  font-size: 1.2rem;
  padding: 1vw;
  text-align: center;
}

.modalMainContainer .modalContentContainer .closeBtn {
  float: right;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.3);
}

.modalMainContainer .modalContentContainer .closeBtn:hover, .modalMainContainer .modalContentContainer .closeBtn:focus {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  text-decoration: none;
}

@-webkit-keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: main;
}

.boxes {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 2vw;
  grid-gap: 2vw;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(3, 1fr)/repeat(4, 1fr);
}

.boxes .card {
  background-color: #2e3a56b2;
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 5px #000;
          box-shadow: 1px 2px 5px #000;
}

.boxes .card a {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.boxes .card:hover {
  background-color: #dc143c57;
  cursor: pointer;
}

.boxes .card:active {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}
/*# sourceMappingURL=style.css.map */