header, .boxes .card, .boxes .card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide {
  display: none;
}

.betterHover a {
  -webkit-transform: translate(-0.001%, -0.001%);
          transform: translate(-0.001%, -0.001%);
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 10px;
  z-index: 1;
}

.betterHover a:hover {
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.betterHover a:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.betterHover a:hover:before {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 1;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

.rotated {
  /* IE 9 */
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}

.dimScreen * {
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}

.dimScreen body {
  background: -webkit-gradient(linear, left top, left bottom, from(#000000c9), to(#000000c9)), url(../images/cityNight.jpg) no-repeat center center fixed;
  background: linear-gradient(#000000c9, #000000c9), url(../images/cityNight.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #e2dddde3;
}

.killButtons {
  -webkit-transform: scale(0);
          transform: scale(0);
}

div.card.buttonGlow {
  -webkit-box-shadow: 0 0 10px #fff, -10px 0 40px #f0f, 10px 0 40px #0ff;
          box-shadow: 0 0 10px #fff, -10px 0 40px #f0f, 10px 0 40px #0ff;
  /* outer right cyan */
}

.lightsOff * {
  opacity: !important 0;
  background-color: black;
}

.LoaderBalls {
  margin: 12vh 90px 5vh;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.LoaderBalls__item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00f1ca;
}

.LoaderBalls__item:nth-child(1) {
  -webkit-animation: bouncing 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
          animation: bouncing 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}

.LoaderBalls__item:nth-child(2) {
  -webkit-animation: bouncing 0.4s 0.1s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
          animation: bouncing 0.4s 0.1s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}

.LoaderBalls__item:nth-child(3) {
  -webkit-animation: bouncing 0.4s 0.2s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
          animation: bouncing 0.4s 0.2s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}

@-webkit-keyframes bouncing {
  0% {
    -webkit-transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
            transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  100% {
    -webkit-transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
            transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
  }
}

@keyframes bouncing {
  0% {
    -webkit-transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
            transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }
  100% {
    -webkit-transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
            transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
  }
}

html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#0000002f), to(#0000002f)), url("../images/cityNight.jpg") no-repeat center center fixed;
  background: linear-gradient(#0000002f, #0000002f), url("../images/cityNight.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #e2dddde3;
}

.getRolled {
  background: -webkit-gradient(linear, left top, left bottom, from(#0000002f), to(#0000002f)), url(../images/getRolled.png) no-repeat center center fixed;
  background: linear-gradient(#0000002f, #0000002f), url(../images/getRolled.png) no-repeat center center fixed;
  background-size: cover;
  color: #e2dddde3;
}

.fullPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr (1fr)[3];
  -ms-grid-columns: (1fr)[5];
      grid-template: 0.5fr repeat(3, 1fr)/repeat(5, 1fr);
      grid-template-areas: 'head head head head head' 'side main   main   main   main' 'side main   main   main   main' 'side main   main   main   main';
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: head;
  background-color: #0000007c;
}

header h1 {
  font-size: 6rem;
  color: #e2dddde3;
}

header h4 {
  font-size: 1.5rem;
  padding-bottom: 1vh;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: side;
  background-color: #0000007c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside h2 {
  text-align: center;
  padding: 0.5vw 0vw;
  margin: 0px 1vw;
  font-size: 1.7rem;
  text-align: center;
  border-bottom: double 0.3vw #e2dddde3;
}

aside ul {
  list-style: none;
}

aside ul li {
  padding: 2vw 2vw;
  margin: 1vw 1vw;
  font-size: 1.1rem;
  color: #e2dddde3;
  background-color: rgba(211, 80, 32, 0.562);
  border-radius: 10%;
  text-align: center;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

aside ul li:hover {
  background-color: #dc143c57;
  cursor: pointer;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: main;
}

.boxes {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 2vw;
  grid-gap: 2vw;
  -ms-grid-rows: (minmax(12vw, 1fr))[5];
  -ms-grid-columns: (minmax(18vw, 1fr))[auto-fit];
      grid-template: repeat(5, minmax(12vw, 1fr))/repeat(auto-fit, minmax(18vw, 1fr));
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}

.boxes .card {
  background-color: #2e3a56b2;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 5px #000;
          box-shadow: 1px 2px 5px #000;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.boxes .card a {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.boxes .card:hover {
  background-color: #dc143c57;
  cursor: pointer;
}

.boxes .card:active {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.modalMainContainer {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
}

.modalMainContainer .modalContentContainer {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 70%;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  -webkit-animation-name: modalOpen;
          animation-name: modalOpen;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.modalMainContainer .modalContentContainer .modalHeader {
  padding: 1vw;
  background-color: #5580AA;
  color: #f4f4f4;
  font-size: 2.3rem;
  text-align: center;
}

.modalMainContainer .modalContentContainer .modalBody {
  color: #2e3a56;
  padding: 4vw 4vw;
  font-size: 1.5rem;
  color: rgba(22, 22, 22, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.modalMainContainer .modalContentContainer .modalBody input {
  display: none;
  height: 12vh;
  width: 100%;
  font-size: 3.5rem;
  background-color: #c8ccd1;
}

.modalMainContainer .modalContentContainer .modalBody input::-webkit-input-placeholder {
  color: #a2a9b1;
}

.modalMainContainer .modalContentContainer .modalBody input:-ms-input-placeholder {
  color: #a2a9b1;
}

.modalMainContainer .modalContentContainer .modalBody input::-ms-input-placeholder {
  color: #a2a9b1;
}

.modalMainContainer .modalContentContainer .modalBody input::placeholder {
  color: #a2a9b1;
}

.modalMainContainer .modalContentContainer .modalBodyImage {
  width: 90%;
  padding: 2vw;
  display: none;
}

.modalMainContainer .modalContentContainer .modalFooter {
  background-color: #5580AA;
  color: #f4f4f4;
  font-size: 1.2rem;
  padding: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vw;
}

.modalMainContainer .modalContentContainer .modalButton {
  display: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.856);
  border-radius: 5%;
  padding: 1vw 1.5vw;
  color: #f4f4f4;
  font-size: 1rem;
  outline: none;
  -webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.507);
          box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.507);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.modalMainContainer .modalContentContainer .modalButton:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background-color: black;
}

.modalMainContainer .modalContentContainer .closeBtn {
  float: right;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.3);
}

.modalMainContainer .modalContentContainer .closeBtn:hover, .modalMainContainer .modalContentContainer .closeBtn:focus {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  text-decoration: none;
}

@-webkit-keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-device-width: 360px) {
  html {
    font-size: 5.5px;
  }
}

@media only screen and (min-width: 361px) and (max-device-width: 411px) {
  html {
    font-size: 5px;
  }
}

@media only screen and (min-width: 412px) and (max-device-width: 550px) {
  html {
    font-size: 6.3px;
  }
}

@media only screen and (min-width: 551px) and (max-device-width: 768px) {
  html {
    font-size: 8.5px;
  }
}

@media only screen and (min-width: 769px) and (max-device-width: 1024px) {
  html {
    font-size: 11.3px;
  }
}
/*# sourceMappingURL=style.css.map */