@import './helpers/variables';
@import './helpers/placeholders';
@import './helpers/commonClasses';

// ! Global Resets
html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

// ! Main Grid & Page Adjusments
body {
  background: linear-gradient(#0000002f, #0000002f),
    url(../images/cityNight.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $outlineText;
}

.fullPage {
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(5, 1fr);
  grid-template-areas:
    'head head head head head'
    'side main   main   main   main'
    'side main   main   main   main'
    'side main   main   main   main'
    'side main   main   main   main'
    'side main   main   main   main'
    'side main   main   main   main';
}

// ! Header
header {
  grid-area: head;
  @extend %flexCompleteCenter;
  background-color: $outerTextColor;
  h1 {
    font-size: 4rem;
    color: $outlineText;
  }
  h4 {
    font-size: 1rem;
    padding-bottom: 1vh;
  }
}

// ! Sidebar
aside {
  grid-area: side;
  background-color: $outerTextColor;
  height: 100vh;
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw 0vw;
    font-size: 1.8rem;
  }
  ul {
    list-style: none;
    li {
      padding: 0.5vw 1vw;
      color: $outlineText;
    }
  }
}

// ! Modal
.modalMainContainer{
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  color: #000;
  .modalContentContainer{
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalOpen;
    animation-duration: 1s;
    .modalHeader {
      padding: 1vw;
      background-color: $modalHeaderColor;
      color: #f4f4f4;
      font-size: 2.6rem;
      text-align: center;
    }
    .modalBody {
      color: #2e3a56;
      padding: 4vw 4vw;
      font-size: 1.5rem;
      color: rgba(22, 22, 22, .9);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      input {
        display: none;
        height: 12vh;
        width: 100%;
        font-size: 3.5rem;
        background-color: #c8ccd1;
        &::placeholder{
        color: #a2a9b1;
        }

      }
    }
    .modalBodyImage {
      width: 90%;
      padding: 2vw;
      display: none;
    }
    .modalFooter {
      background-color: $modalHeaderColor;
      color: #f4f4f4;
      font-size: 1.2rem;
      padding: 1vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2vw;
    }
    .modalButton {
      display: none;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.856);
      border-radius: 5%;
      padding: 1vw 1.5vw;
      color: #f4f4f4;
      font-size: 1rem;
      outline: none;
      box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.507);
      transition: 300ms;
      &:hover {
        transform: scale(1.04);
        background-color: rgb(0, 0, 0); 
      }
    }
    .closeBtn {
      float: right;
      font-size: 2rem;
      color: rgba(0,0,0,0.3);
      &:hover,&:focus{
        color: rgba(0,0,0,0.8);
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
//* Keyframe For Modal
@keyframes modalOpen{
  from{opacity: 0}
  to{opacity: 1;}
}

// ! Main Boxes
main {
  grid-area: main;
}

.boxes {
  display: grid;
  align-items: stretch;
  padding: 2vw;
  grid-gap: 2vw;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  .card {
    @extend %flexCompleteCenter;
    background-color: $cardBackground;
    width: 100%;
    height: 10rem;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #000;
    a {
      @extend %flexCompleteCenter;
      font-size: 1.5rem;
      text-transform: capitalize;
    }
    &:hover {
      background-color: $cardBackgroundHover;
      cursor: pointer;
    }
    &:active {
      transform: scale(1.04);
    }
  }
}
